@import './global';

.app {
  background-color: $color-blue;

  &__header-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
  }

  &__scroll-indication {
    z-index: 100;
    position: fixed;
    bottom: 1.9rem;
    left: 50%;
    transform: translateX(-50%);
  }

  > *[class*='page']:not([class*='home']) {
    padding-top: $header-height;
  }
}
