@import './global';

.app {
  background-color: $color-blue;

  &__header-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
  }

  > *[class*='page'] {
    padding-top: $header-height;
  }
}
