@import './global';

.app {
  padding-top: $header-height;
  background-color: $color-blue;
  min-height: 100vh;

  &__header-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
  }
}
