// COLORS

$color-blue: #192193;
$color-green: #61f984;
$color-pink: #efcaca;
$color-pink-light: #f7dcdc;

// FONTS

$font-avenir-medium: 'AvenirMedium';

$font-infini-regular: 'InfiniRegular';
$font-infini-bold: 'InfiniBold';
$font-infini-italic: 'InfiniItalic';

$font-faune-thin: 'FauneThin';
$font-faune-regular: 'FauneRegular';
$font-faune-italic: 'FauneItalic';
$font-faune-bold: 'FauneBold';
$font-faune-bold-italic: 'FauneBoldItalic';
$font-faune-black: 'FauneBlack';

// others

$header-height: 4.25rem;
$content-width: 30rem;
$content-padding: 1rem;
