@import '../../../assets/styles/global';

.page-installation {
  background-color: $color-blue;
  //height: 100vh;

  &__wrapper {
    height: 100%;
    width: 100%;

    &__part {
      &--first-part,
      &--third-part {
        position: relative;
        &__presentation,
        &__testimony,
        &__challenge {
          &__title {
            display: inline-block;
            margin-top: 3.5rem;
            width: 100%;
            color: $color-green;
            font-size: 4rem;
            text-align: center;
            font-family: $font-infini-regular;
            text-transform: uppercase;
            will-change: filter;
          }

          &__text-content-wrapper {
            width: 100%;
            padding: 0;

            &__mask {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              height: 100%;
              background: linear-gradient(
                to top,
                $color-blue,
                rgba(29, 24, 153, 0.8) 10%,
                rgba(29, 24, 153, 0) 25%,
                rgba(29, 24, 153, 0) 75%,
                rgba(29, 24, 153, 0.8) 90%,
                $color-blue
              );
              z-index: 1;
            }

            &__container {
              position: relative;
              height: 25rem;
              overflow: hidden;

              &__text-content {
                position: relative;
                text-align: center;
                max-width: $content-width;
                padding: 0 $content-padding;
                margin: auto;
                font-family: $font-infini-regular;
                color: $color-pink;
                font-size: 1.6rem;
                line-height: 2.2rem;
              }
            }
          }
        }
      }

      &--first-part {
        //height: calc(100vh - #{$header-height});
        height: 100%;
        //padding-bottom: 10rem;
        left: 0 !important;
        z-index: 2;
        //width: 100% !important; // to overrid scrollmagic style

        &__presentation {
          height: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          //padding-top: 5rem;
          display: flex;
          flex-direction: column;
          z-index: 2;

          &.hidden {
            z-index: 0;
            display: none;
            pointer-events: none;
          }

          &__title {
            margin: 0;
            position: absolute;
            //left: 50%;
            top: 3.5rem;
          }

          &__installation-sketch {
            width: 100%;
            opacity: 0;
            transform: scale(1);
            position: absolute;
            top: 12%;
          }

          &__description {
            position: absolute;
            top: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            &__text {
              font-family: $font-infini-regular;
              color: $color-pink;
              //font-size: 1.5rem;
              //line-height: 1.8rem;
              font-size: 1.6rem;
              line-height: 2.2rem;

              max-width: $content-width;
              text-align: center;
              margin-bottom: 1.5rem;
            }

            &__caption {
              font-family: $font-infini-italic;
              color: $color-pink;
              font-size: 1.25rem;
              line-height: 1.5rem;
              max-width: $content-width;
              text-align: center;
            }
          }

          &__text-content-wrapper {
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translateX(-50%);
            z-index: -1;

            &__container {
              &__text-content {
                opacity: 0;
                filter: blur(4px);
                will-change: filter;
              }
            }
          }
        }

        &__testimony {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          display: flex;
          flex-direction: column;
          align-items: center;

          &.hidden {
            pointer-events: none;
            z-index: 0;
          }

          &__talkers {
            position: relative;
            width: 100%;
            height: 4rem;
            margin-top: auto;

            &__talker {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              opacity: 0;
              filter: blur(4px);
              width: 100%;

              &.talker-1 {
                color: $color-pink;
              }

              &.talker-2 {
                color: $color-green;
              }

              &.talker-3 {
                color: $color-pink;
                font-family: $font-infini-italic;
              }

              &__name {
                width: 100%;
                text-align: center;
                font-family: $font-infini-bold;
                font-size: 2rem;
                margin-bottom: 1rem;
              }

              &__details {
                width: 100%;
                text-align: center;
                font-family: $font-infini-regular;
                font-size: 1.5rem;
              }
            }
          }

          &__player {
            margin-top: auto;
            display: block;
            margin-bottom: auto;
          }

          &__text-content-wrapper {
            position: relative;
            opacity: 0;
            max-height: 25rem;
            margin-bottom: auto;

            &__container {
              &__text-content {
                &__text {
                  display: inline-block;
                  margin: 0.3rem 0;

                  &.talker-1 {
                    color: $color-pink;
                  }

                  &.talker-2 {
                    color: $color-green;
                  }

                  &.talker-3 {
                    color: $color-pink;
                    font-family: $font-infini-italic;
                  }
                }
              }
            }
          }
        }

        &__challenge {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          background-color: $color-pink;

          font-family: $font-infini-regular;
          color: $color-blue;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          //height: 100%;

          &.hidden {
            z-index: 0;
            display: none;
            pointer-events: none;
          }

          &__wrapper-title {
            position: relative;
            margin-top: auto;
            overflow-x: hidden;

            &__radial-circle {
              pointer-events: none;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: radial-gradient(
                circle closest-side,
                rgba(97, 249, 132, 1),
                rgba(97, 249, 132, 0)
              );
              background-repeat: no-repeat;
              z-index: 0;
            }

            &__title {
              position: relative;
              display: inline-block;
              width: 100%;
              padding: 0 1.7em;
              width: 100%;
              font-size: 2.5rem;
              text-align: center;
              color: $color-blue;
              text-transform: uppercase;
              line-height: 1.5em;
              z-index: 1;
            }
          }

          &__text-content {
            text-align: center;
            max-width: $content-width;
            //padding: 3rem 4rem 0 4rem;
            //margin: 0 auto 3em auto;
            margin: auto;
            font-family: $font-infini-regular;
            color: $color-blue;
            font-size: 1.6rem;
            line-height: 2.2rem;

            &--bold {
              font-family: $font-infini-bold;
            }
          }

          &__help {
            margin-top: 3em;
            color: $color-blue;
            font-size: 1.3em;
            max-width: $content-width;
            text-align: center;
            line-height: 1.3em;
            margin-bottom: auto;
          }
        }
      }

      &--third-part {
        padding-top: 4rem;
        padding-bottom: 5rem;
        text-align: center;

        &__title {
          font-family: $font-infini-regular;
          font-size: 2rem;
          color: $color-green;
          width: 100%;
          text-align: center;
        }

        &__button {
          margin: 3rem auto;
          display: inline-block;
        }
      }
    }
  }
}
