@import '../../../assets/styles/global';

.page-installation {
  background-color: $color-blue;
  height: 100vh;

  &__wrapper {
    height: 100%;
    width: 100%;

    &__part {
      &--first-part,
      &--second-part,
      &--third-part {
        position: relative;
        &__presentation,
        &__testimony,
        &__challenge {
          &__title {
            display: inline-block;
            margin-top: 3.5rem;
            width: 100%;
            color: $color-green;
            font-size: 4rem;
            text-align: center;
            font-family: $font-infini-regular;
            text-transform: uppercase;
            will-change: filter;
          }

          &__text-content-wrapper {
            width: 100%;
            padding: 0.1rem 0;

            &__mask {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              height: 100%;
              background: linear-gradient(
                to top,
                $color-blue,
                rgba(25, 33, 147, 0.8) 10%,
                rgba(25, 33, 147, 0) 25%,
                rgba(25, 33, 147, 0) 75%,
                rgba(25, 33, 147, 0.8) 90%,
                $color-blue
              );
              z-index: 1;
            }

            &__container {
              position: relative;
              height: 20rem;
              overflow: hidden;

              &__text-content {
                position: relative;
                text-align: center;
                max-width: $content-width;
                padding: 0 $content-padding;
                margin: auto;
                font-family: $font-infini-regular;
                color: $color-pink;
                font-size: 1.5rem;
                line-height: 1.3em;
              }
            }
          }
        }
      }

      &--first-part {
        height: calc(100vh - #{$header-height});
        //padding-bottom: 10rem;
        left: 0 !important;
        z-index: 2;

        &__presentation {
          height: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding-top: 5rem;
          display: flex;
          flex-direction: column;
          z-index: 2;
          &.hidden {
            z-index: 0;
            display: none;
          }

          &__title {
            margin: 0;
            position: absolute;
            //left: 50%;
            top: 3.5rem;
          }

          &__installation-sketch {
            width: 100%;
            margin: auto;
            opacity: 0;
            position: absolute;
            transform: scale(1);
          }

          &__text-content-wrapper {
            position: absolute;
            left: 50%;
            top: 70%;
            transform: translateX(-50%) translateY(-50%);
            z-index: -1;
          }
        }

        &__testimony {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          display: flex;
          flex-direction: column;
          align-items: center;

          &.hidden {
            pointer-events: none;
          }

          &__player {
            margin-top: auto;
            display: block;
            margin-bottom: 10vh;
          }

          &__text-content-wrapper {
            position: relative;
            opacity: 0;
            max-height: 25rem;
            margin-bottom: auto;
          }
        }
      }

      &--second-part {
        background-color: $color-pink;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;

        &__challenge {
          font-family: $font-infini-regular;
          color: $color-blue;
          display: flex;
          flex-direction: column;
          align-items: center;

          &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 20rem;
            margin: 7rem 0 2rem;
            padding: 0 1.7em;
            width: 100%;
            font-size: 2.5rem;
            text-align: center;
            color: $color-blue;
            text-transform: uppercase;
            line-height: 1.5em;
            background: radial-gradient(
              circle closest-side,
              rgba(97, 249, 132, 1),
              rgba(97, 249, 132, 0)
            );
          }

          &__text-content {
            text-align: center;
            max-width: $content-width;
            padding: 3rem 4rem 0 4rem;
            margin: 0 auto 3em auto;
            font-family: $font-infini-regular;
            color: $color-blue;
            font-size: 1.5rem;
            line-height: 1.3em;

            &--bold {
              font-family: $font-infini-bold;
            }
          }

          &__help {
            margin-top: 3em;
            color: $color-blue;
            font-size: 1.3em;
            max-width: $content-width;
            text-align: center;
            line-height: 1.3em;
          }
        }
      }

      &--third-part {
        padding-top: 4rem;
        padding-bottom: 5rem;
        text-align: center;

        &__title {
          font-family: $font-infini-regular;
          font-size: 2rem;
          color: $color-green;
          width: 100%;
          text-align: center;
        }

        &__button {
          margin: 3rem auto;
          display: inline-block;
        }
      }
    }
  }
}
