@import '../../assets/styles/global';

.page-success {
  background-color: $color-green;
  height: 100vh;
  $self: &;
  color: $color-blue;

  > *:not(#{$self}__svg) {
    z-index: 2;
  }

  &__svg {
    position: absolute;
    width: 80%;
    left: 50%;
    top: calc(50% + #{$header-height / 2});
    transform: translateX(-50%) translateY(-50%);
  }

  &__presentation {
    max-width: $content-width;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__wrapper-title {
      position: relative;
      width: 100%;

      &__radial-circle {
        $width-circle: 15rem;

        pointer-events: none;
        position: absolute;
        top: calc(50% - #{$width-circle/2});
        left: calc(50% - #{$width-circle/2});

        background-color: $color-pink;
        border-radius: 50%;
        width: $width-circle;
        height: $width-circle;
        transform-origin: center center;
        filter: blur(8px);
        z-index: 0;
      }

      &__title {
        position: relative;
        display: inline-block;
        margin: 8.5rem 0;
        width: 100%;
        font-size: 4rem;
        text-align: center;
        font-family: $font-infini-regular;
        text-transform: uppercase;
        z-index: 1;
      }
    }

    &__text-content {
      text-align: center;
      padding: 0 $content-padding;
      margin-top: 15rem;
      font-family: $font-infini-regular;
      font-size: 1.5rem;
      line-height: 1.3em;
    }

    &__discover-button {
      z-index: 2;
      margin-top: 10rem;
      background-color: $color-green;
    }
  }
}
