@import '../../assets/styles/global';

.button {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  border-radius: 2.2rem;
  border-width: 0.1rem;
  border-style: solid;
  text-decoration: none;
  cursor: pointer;

  &.theme-blue {
    border-color: $color-blue;
  }

  &.theme-green {
    border-color: $color-green;
  }

  &.theme-pink {
    border-color: $color-pink;
  }

  &__label {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: $font-avenir-medium;

    &.theme-blue {
      color: $color-blue;
    }

    &.theme-green {
      color: $color-green;
    }

    &.theme-pink {
      color: $color-pink;
    }
  }
}
