@import '../../assets/styles/global.scss';

.informations-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $color-pink;
  padding: 2rem;
  z-index: 10;
  transform: translateY(calc(100% - 6rem));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  color: $color-blue;
  font-family: $font-infini-regular;

  &.open {
    transform: translateY(0);

    .informations-panel__close-ico {
      transform: rotate(45deg);
    }
  }

  &__direction-informations {
    position: absolute;
    top: 1.9rem;
    left: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__walk-ico {
      width: 1em;
      margin-right: 0.5rem;
    }

    &__direction-duration {
      font-size: 1.8rem;
    }
  }

  &__close-ico {
    position: absolute;
    top: 1.9rem;
    right: 2rem;
    padding: 0;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    background: none;
    border: none;
    outline: none;

    svg {
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  &__informations--installation {
    width: 100%;
    margin-bottom: 2.5rem;

    &__installation-name {
      display: block;
      font-size: 2rem;
      margin-bottom: 3rem;
      text-transform: uppercase;
    }

    &__installation-description {
      display: inline;
      font-size: 1.5rem;
    }

    &__installation-see-more {
      margin-bottom: 1rem;
    }
  }
}
