@import '../../assets/styles/global';

.countdown {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.theme-green {
    p {
      color: $color-green;
    }
  }

  &.theme-blue {
    p {
      color: $color-blue;
    }
  }

  p {
    font-family: $font-avenir-medium;
    font-size: 1.5rem;
  }
}
