@import url('https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css');
@import url('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css');

.mapboxgl-map {
  height: 100%;
  position: relative;
  overflow-y: hidden;

  &__mask {
    pointer-events: none;
    background: radial-gradient(
      farthest-side,
      rgba(25, 33, 147, 0) 60%,
      #192193 100%
    );
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &__btn-start-travel {
    z-index: 11;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    display: inline-block;
    background-color: #4264fb;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 3px;
    padding: 10px 18px;
    text-align: center;
    appearance: none;
    user-select: none;
    cursor: pointer;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .mapboxgl-ctrl-logo {
    display: none;
  }
}
