@import url('https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css');
@import url('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css');
@import '../../assets/styles/global.scss';

.mapboxgl-map {
  height: 100%;
  position: relative;
  overflow-y: hidden;
  font: inherit !important;

  &__mask {
    pointer-events: none;
    background: radial-gradient(
      farthest-side,
      rgba(29, 24, 153, 0) 60%,
      #1d1899 100%
    );
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &__btn-start-travel {
    z-index: 11;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    display: inline-block;
    background-color: #4264fb;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 3px;
    padding: 10px 18px;
    text-align: center;
    appearance: none;
    user-select: none;
    cursor: pointer;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .mapboxgl-ctrl-logo {
    display: none;
  }

  .mapboxgl-ctrl-directions {
    display: none;
  }

  .mapboxgl-ctrl-group {
    background-color: $color-blue;
    border: none;
    margin: $border-gutter-width $border-gutter-width 0 0 !important;

    .mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
      position: relative;
      border-radius: 0.65rem;
      border: 0.1rem solid $color-pink;
      background-image: none !important;

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translateX(-50%) translateY(-50%);
        background-size: 68%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('icon/inactif.svg') !important;
      }

      &.mapboxgl-ctrl-geolocate-background {
        border-color: $color-green;
        &:after {
          background-image: url('icon/actif.svg') !important;
        }
      }

      &.mapboxgl-ctrl-geolocate-active {
        border-color: $color-green;
        &:after {
          background-image: url('icon/actif_centre.svg') !important;
        }
      }

      &.mapboxgl-ctrl-geolocate-waiting {
        animation: none;

        &:after {
          animation: wait 0.8s infinite ease-in-out alternate;

          @keyframes wait {
            from {
              opacity: 1;
            }
            to {
              opacity: 0.3;
            }
          }
        }
      }
    }
  }

  .mapboxgl-user-location-dot {
    background-color: $color-blue;
    border: 1px solid $color-pink;
    box-shadow: none;
    position: relative;
    transform-style: preserve-3d;

    &::after {
      // background-color: $color-blue;
      // border-color: $color-pink;
      position: absolute;
      background-color: $color-green;
      border: none;
      animation: mapboxgl-user-location-dot-big 10s infinite;
      z-index: -1;
      transform: translateZ(-1px);
    }

    &::before {
      position: absolute;
      background-color: $color-green;
      animation: mapboxgl-user-location-dot 2s infinite;
      z-index: -1;
      transform: translateZ(-1px);
    }
  }

  @keyframes mapboxgl-user-location-dot {
    0% {
      transform: scale(1) translateZ(-1px);
      opacity: 1;
    }
    70% {
      transform: scale(3) translateZ(-1px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateZ(-1px);
      opacity: 0;
    }
  }

  @keyframes mapboxgl-user-location-dot-big {
    0% {
      transform: scale(3) translateZ(-1px);
      opacity: 0.5;
    }
    50% {
      transform: scale(4) translateZ(-1px);
      opacity: 0.5;
    }
    100% {
      transform: scale(3) translateZ(-1px);
      opacity: 0.5;
    }
  }
}
