@import '../../../assets/styles/global';

.page-installation {
  background-color: $color-blue;
  height: 100vh;

  &--locked {
    &__wrapper {
      height: 100%;
      width: 100%;
      position: relative;

      &__part {
        &--first-part {
          position: relative;
          //height: calc(100vh - #{$header-height});
          left: 0 !important;
          z-index: 2;

          &__presentation {
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 5rem;
            display: flex;
            flex-direction: column;
            z-index: 2;
            pointer-events: none;

            &.hidden {
              z-index: 0;
              display: none;
            }

            &__title {
              margin: 0;
              position: absolute;
              top: 3.5rem;
              display: inline-block;
              width: 100%;
              color: $color-green;
              font-size: 3rem;
              text-align: center;
              font-family: $font-infini-regular;
              text-transform: uppercase;
              will-change: filter;
            }

            &__installation-sketch {
              width: 100%;
              opacity: 0;
              transform: scale(1);
              position: absolute;
              top: 10%;
            }

            &__description {
              position: absolute;
              top: 60%;
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;
              //transform: translateY(-50%);

              &__text {
                font-family: $font-infini-regular;
                color: $color-pink;
                //font-size: 1.5rem;
                //line-height: 1.8rem;
                font-size: 1.6rem;
                line-height: 2.2rem;
                max-width: $content-width;
                text-align: center;
                margin-bottom: 1.5rem;
              }

              &__caption {
                font-family: $font-infini-italic;
                color: $color-pink;
                font-size: 1.25rem;
                line-height: 1.5rem;
                max-width: $content-width;
                text-align: center;
              }
            }
          }

          &__go-to-installation {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            opacity: 0;

            p {
              color: $color-green;
              font-family: $font-infini-bold;
              font-size: 2.5rem;
              text-transform: uppercase;
              padding: 0 10rem;
              margin-bottom: 5rem;
            }
          }
        }
      }
    }
  }
}
