@import '../../../assets/styles/global';

.page-installation {
  background-color: $color-blue;
  &--locked {
    $self: &;

    > *:not(#{$self}__svg) {
      z-index: 2;
    }

    &__presentation {
      &__svg {
        position: absolute;
        width: 80%;
        left: 50%;
        top: calc(50% + #{$header-height / 2});
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
        z-index: -1;
      }

      &__title {
        display: inline-block;
        margin: 3.5rem 0;
        width: 100%;
        color: $color-green;
        font-size: 4rem;
        text-align: center;
        font-family: $font-infini-regular;
        text-transform: uppercase;
        height: 4.6rem;
      }

      &__content-wrapper {
        position: relative;
        overflow: hidden;

        &__installation-sketch {
          display: block;
          max-width: 100%;
          max-height: 50rem;
          margin: 0 auto;
          padding: 5rem 0;
        }

        &__text-content {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          max-width: $content-width;
          padding: 0 $content-padding;
          margin: auto;
          font-family: $font-infini-regular;
          color: $color-pink;
          font-size: 1.5rem;
          line-height: 1.3em;
          height: 50rem;
        }

        &__mask {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            to top,
            $color-blue,
            rgba(25, 33, 147, 0) 20%,
            rgba(25, 33, 147, 0) 80%,
            $color-blue
          );
          z-index: 1;
        }
      }
    }

    &__go-to-installation {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      p {
        color: $color-green;
        font-family: $font-infini-bold;
        font-size: 2.5rem;
        text-transform: uppercase;
        padding: 0 10rem;
        margin-bottom: 5rem;
      }
    }
  }
}
