@import '../../assets/styles/global';

.twitter-thumbnail {
  $self: &;

  &__image {
    // width 100% with ratio 1:1
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 100% 0 0 0;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__informations {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-top: 0.8rem;

    &__author {
      text-decoration: none;
      color: $color-pink;
      margin-right: auto;

      font-family: $font-faune-regular;
      font-size: 1.3rem;
    }

    &__like {
      color: $color-pink;
      font-family: $font-faune-regular;
      font-size: 1.3rem;
      margin-right: 0.5rem;
    }

    &__heart {
      width: 1.7rem;
      path {
        fill: $color-pink;
      }
    }
  }
}
