@import '../../assets/styles/global';

.page-installation {
  background-color: $color-blue;
  height: 100vh;

  &__installation-name {
    display: inline-block;
    margin: 3.5rem 0;
    width: 100%;
    color: $color-green;
    font-size: 4rem;
    text-align: center;
    font-family: $font-infini-regular;
  }

  &__installation-description,
  &__installation-locked-description {
    text-align: center;
    max-width: $content-width;
    padding: 0 $content-padding;
    margin: auto;
    font-family: $font-infini-regular;
    color: $color-pink;
    font-size: 1.5rem;
  }

  &__installation-description {
    margin-bottom: 3rem;
  }
}
